language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 5.4
  - 5.5
  - 5.6
  - nightly
  - hhvm

env:
  global:
    - PATH="$HOME/.composer/vendor/bin:$PATH"

matrix:
  include:
    - php: 5.6
      env: CS_FIXER=run
    - php: 5.4
      env: COMPOSER_FLAGS="--prefer-lowest"
  allow_failures:
    - php: nightly
    - php: hhvm-nightly
  fast_finish: true

before_script:
  - composer self-update
  - composer config -g github-oauth.github.com $GITHUB_OAUTH_TOKEN
  - composer global require fabpot/php-cs-fixer --no-update
  - composer global update --prefer-dist --no-interaction
  - composer update --prefer-dist --no-interaction $COMPOSER_FLAGS

script:
  - if [ "$CS_FIXER" = "run" ]; then php-cs-fixer fix --verbose --dry-run ; fi;
  - vendor/bin/phpspec run
  - vendor/bin/phpunit tests
